body {
  font-family: "Open Sans", sans-serif;
    font-weight:bold;
  color: #444444;
}

a {
  color: #2487ce;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.smallJumbotron {
  padding: 10px !important;
}
.carousel-inner img {
  height: 450px;
  width: 800px;
  position: center;
  margin: auto;
}


