.bg{
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('../images/bg1.jpg');
  opacity: 0.75;
}
.bg::before {
      background: rgba(255,255,255,0.8);
      content: "";
      position: absolute;

}
img{
  border-style: solid !important;
}
.team-pic{
  padding-right: 50px;
}
.image-name{
  padding-right: 105px;
}
.name{
  padding-left: 45px;
}
.team{
  padding-left: 340px;
}
a {
  color: #2487ce;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.smallJumbotron {
  padding: 10px !important;
}
.carousel-inner img {
  height: 450px;
  width: 800px;
  position: center;
  margin: auto;
}
.content4{
  font-family: "Open Sans", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  font-weight: bold;
  font-style: italic;
  text-align: justify;
}


